
<div class="face-snap-card">
  <h1><fa-icon [icon]="faCloudSunRain"></fa-icon> Méteo</h1>
  <app-weather-selection
    [weather] = "weather"
    (getMeteo)="onGetMeteo($event)">
  </app-weather-selection>
</div>

