<!--
<div class="container face-snap-card" [ngClass]="{ snapped: myArticle.snaps > 2 }">
  <h2><fa-icon [icon]="faMedal"></fa-icon> {{ myArticle.title }}</h2>
  <p>Mis en ligne le {{ myArticle.createDate | date:'full':'+0200':'fr' }}</p>
  <img [src]="myArticle.imageUrl" [alt]="myArticle.title">
  <p>
    <button class="btn btn-success" (click)="onAddSnap()" > Oh Snap! </button>
    <fa-icon [icon]="faThumbsUp"></fa-icon> {{ myArticle.snaps }}
  </p>
  <p *ngIf="myArticle.location">Photo prise à {{ myArticle.location }}</p>
  <button type="button" class="btn btn-info" (click)="onViewFaceSnap()">VIEW</button>
</div>
-->
<div class="card face-snap-card" [ngClass]="{ snapped: myArticle.snaps > 2 }">
  <img [src]="myArticle.imageUrl" class="card-img-top" [alt]="myArticle.title">

  <div class="card-body">
    <h5 class="card-title"><fa-icon [icon]="faMedal"></fa-icon> {{ myArticle.title }}</h5>
    <p class="card-text">Mis en ligne le {{ myArticle.createDate | date:'full':'+0200':'fr' }}</p>
    <p *ngIf="myArticle.location">Photo prise à {{ myArticle.location }}</p>
    <p>
      <button class="btn btn-success" (click)="onAddSnap()" > Oh Snap! </button>
      <fa-icon [icon]="faThumbsUp"></fa-icon> {{ myArticle.snaps }}
    </p>
    <a type="button" class="btn btn-info" (click)="onViewArticle()">Détails</a>
  </div>
</div>

