
<div class="container face-snap-card">
  <h2>{{ title }}</h2>
  <p>Description : {{ description }}</p>
  <button routerLink="/articlelist" type="button" class="btn btn-primary">Retour à la liste</button>
</div>


