<header>
  <h1>{{ title }}</h1>
  <nav>
    <fa-icon [icon]="faHome"></fa-icon><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
    <fa-icon [icon]="faNewspaper"></fa-icon><a routerLink="articlelist" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Liste Articles</a>
    <fa-icon [icon]="faCartArrowDown"></fa-icon><a routerLink="new" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Nouvel Article</a>
    <fa-icon [icon]="faCloudSunRain"></fa-icon><a routerLink="meteo" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Méteo</a>
    <fa-icon [icon]="faCommunes"></fa-icon><a routerLink="departements" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">départements</a>
  </nav>
</header>

