<div class="face-snap-card">
  <img src="../assets/article.jpg" alt="Article logo">
  <div class="landing-links">
    <h2>Authentification</h2>
  <button class="btn btn-success" *ngIf="!getAuthStatus()" (click)="onSignIn()">Se connecter</button>
  <button class="btn btn-danger" *ngIf="getAuthStatus()" (click)="onSignOut()">Se déconnecter</button>
  </div>
</div>
