
   <div class="col-sm-8 col-sm-offset-2 form-card">
    <form [formGroup]="articleForm" (ngSubmit)="onSubmitForm()">
      <div class="form-group">
        <label for="title">Titre</label>
        <input type="text" id="title" class="form-control" formControlName="title">
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" id="description" class="form-control" formControlName="description">
      </div>
      <div class="form-group">
        <label for="url">Url de l'image</label>
        <input type="text" id="url" class="form-control" formControlName="url">
      </div>
      <div class="form-group">
        <label for="location">Location</label>
        <input type="text" id="location" class="form-control" formControlName="location">
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="articleForm.invalid">Ajouter</button>
    </form>
  </div>

