<div class="bg-light p-5 rounded">
  <h1 class="mb-5">Bienvenue dans le module communes</h1>

  <app-departement-table
    [departements]="departements"
    [departementsIsLoading]="departementsIsLoading"
    [departementsIsLoaded]="departementsIsLoaded"
    (loadDepartements)="onLoadDepartements()"
    (loadCommunes)="onLoadCommunes($event)">
  </app-departement-table>

  <hr class="m-5">

  <app-communes
        [communes]="communes"
        [communesIsLoading]="communesIsLoading"
        [communesIsLoaded]="communesIsLoaded">
  </app-communes>

  <hr class="m-5">

  <app-communes-graph
        [communesForGraph]="communesForGraph"
        [communesIsLoading]="communesIsLoading"
        [communesIsLoaded]="communesIsLoaded">
  </app-communes-graph>

</div>
