<footer class="bg-light text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    <fa-icon [icon]="faCopyright"></fa-icon> 2022 Neojero
    <a class="text-dark" href="https://www.afpa.fr/">AFPA</a>
  </div>
  <!-- Copyright -->
</footer>
