<ng-container >

  <button *ngIf="departementsIsLoading" (click)="loadDepartements.emit()" class="btn btn-primary" type="action">Charger les départements</button>

  <div>
    <div *ngIf="departementsIsLoaded">
      <label for="search" class="form-label">Rechercher un département</label>
      <input type="text" class="form-control" name="search" placeholder="votre choix" [(ngModel)]="search" autocomplete="off">
    </div>

    <table  class="table">
        <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Code</th>
                <th scope="col">Code région</th>
                <th scope="col">#</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let departement of getDepartements()">
                <td>{{ departement.nom }}</td>
                <td>{{ departement.code }}</td>
                <td>{{ departement.codeRegion }}</td>
                <td class="btn" (click)="loadCommunes.emit(departement.code)">
                    <fa-icon [icon]="faSearch"></fa-icon>
                </td>
            </tr>
        </tbody>
    </table>
    <pagination [totalItems]="getLength()" [(ngModel)]="currentPage"></pagination>
  </div>
</ng-container>
