<div class="container face-snap-card">
  <label for="search" class="form-label">Rechercher Méteo</label>
  <input type="text" class="form-control" name="search" placeholder="ville" [(ngModel)]="search">
</div>

<div class="face-snap-card bg-light">
    <h2 class="bg-info p-2 text-white text-uppercase">{{ weather.city }} </h2>
    <img [src]="weather.icon" [alt]="'logo'"/>
</div>
<div>
    <table class="table">
      <thead>
          <tr>
              <th scope="col">Conditions</th>
              <th scope="col">Description</th>
              <th scope="col">Température</th>
              <th scope="col">Ressenti</th>
              <th scope="col">Pays</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>{{ weather.conditions }}</td>
              <td>{{ weather.description }}</td>
              <td>{{weather.temperature}}</td>
              <td>{{weather.ressenti}}</td>
              <td>{{weather.country}}</td>
          </tr>
      </tbody>
    </table>

    <button (click)="getMeteo.emit(search)" class="btn btn-primary" type="action">Charger la méteo</button>
</div>

