<div class="container">
  <button class="btn btn-primary" (click)="onSave()">Enregistrer les appareils</button>
</div>

<app-article *ngFor="let article of myArticles" [myArticle]="article"></app-article>
<app-footer></app-footer>
