<!-- <div *ngIf="communesIsLoading">
  <span class="fas fa-circle-notch fa-spin fa-3x"></span>
  <span class="sr-only">Loading...</span>
</div> -->

<ng-container *ngIf="communesIsLoaded">
  <div *ngIf="communesIsLoaded">
      <label for="search" class="form-label">Rechercher une commune</label>
      <input type="text" class="form-control" name="search" placeholder="Marseille" [(ngModel)]="search" autocomplete="off" >
  </div>

  <table class="table">
      <thead>
          <tr>
              <th scope="col">Nom</th>
              <th scope="col">Code</th>
              <th scope="col">Code département</th>
              <th scope="col">Code région</th>
              <th scope="col">Codes Postaux</th>
              <th scope="col">Population</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let commune of getCommunes()">
              <td>{{ commune.nom }}</td>
              <td>{{ commune.code }}</td>
              <td>{{ commune.codeDepartement }}</td>
              <td>{{ commune.codeRegion }}</td>
              <td>{{ commune.codesPostaux }}</td>
              <td>{{ commune.population }}</td>
          </tr>
      </tbody>
  </table>

  <pagination [totalItems]="getLength()" [(ngModel)]="currentPage" [boundaryLinks]="true" [maxSize]="5"></pagination>
</ng-container>
