<div class="row" *ngIf="communesIsLoaded">
  <ngx-charts-bar-vertical
      [view]="view"
      [results]="communesForGraph"
      [xAxisLabel]="xAxisLabel"
      [legendTitle]="legendTitle"
      [yAxisLabel]="yAxisLabel"
      [legend]="legend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxis]="xAxis"
      [yAxis]="yAxis"
      [gradient]="gradient">
  </ngx-charts-bar-vertical>

  <hr class="m-5">

  <ngx-charts-gauge
    [view]="view2"
    [results]="communesForGraph"
    [legend]="legend"
    [legendTitle]="legendTitle">
  </ngx-charts-gauge>
</div>
